<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/my_app.css" />
    <title>Madlibs Form</title>
  </head>
  <body>
    <form action="" id="theForm">
      <h1>Madlibs</h1>
      <div>
        <label for="place">Place:</label>
        <input type="text" name="place" id="place" class="inputText" />
      </div>
      <div>
        <label for="noun">Noun:</label>
        <input type="text" name="noun" id="noun" class="inputText" />
      </div>
      <div>
        <label for="verb">Verb:</label>
        <input type="text" name="verb" id="verb" class="inputText" />
      </div>
      <div>
        <label for="adjective">Adjective:</label>
        <input type="text" name="adjective" id="adjective" class="inputText" />
      </div>
      <div>
        <label for="plural_noun">Plural_noun:</label>
        <input
          type="text"
          name="plural_noun"
          id="plural_noun"
          class="inputText"
        />
      </div>
      <input type="submit" name="" id="submitButton" />
    </form>
    <script src="static/my_app.js"></script>
  </body>
</html>
